body {
    background: #1D1F20; /* Dark Mode background color inspired by Apple */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #1A2836; /* Pacific Blue inspired by Apple */
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-top: 10px;
}

button:hover {
    background-color: #0A1722; /* Darker shade of Pacific Blue */
}
